on:
  push:
    branches: [ main ]   

permissions:
  contents: write    
  packages: write    

env:
  IMAGE_REPO: ghcr.io/arthur-16/argorepo
  CHART_PATH: apprepo
  VALUES_FILE: apprepo/values-dev.yaml

concurrency:
  group: build-and-pin-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Derive tags
        id: meta
        run: |
          SHORT_SHA="$(git rev-parse --short=12 HEAD)"
          echo "tags=${{ env.IMAGE_REPO }}:${SHORT_SHA},${{ env.IMAGE_REPO }}:dev" >> "$GITHUB_OUTPUT"

      - name: Build & push image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .           
          file: ./app/Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}


      - name: Show digest
        run: echo "Digest => ${{ steps.build.outputs.digest }}"

      - name: Install yq (mikefarah/go-yq)
        uses: mikefarah/yq@v4.44.3
      
      - name: Pin digest in Helm values
        env:
          IMAGE_REPO: ghcr.io/arthur-16/argorepo          
          VALUES_FILE: appRepo/values-dev.yaml           
          DIGEST: ${{ steps.build.outputs.digest }}
        run: |
          test -n "$DIGEST"
          yq -i '.image.repository = strenv(IMAGE_REPO)' "$VALUES_FILE"
          yq -i '.image.digest = strenv(DIGEST)' "$VALUES_FILE"
          git config user.name  "ci-bot"
          git config user.email "ci@example.com"
          git commit -am "Pin image to ${DIGEST}"
          git push
